@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var row = (ContactRow)Model.Content;
    var settings = (ContactRowSettings)Model.Settings;

    if (settings.Hide) { return; }
}

              <div class="about-contact">
                  <div class="row">
                      <div class="col-md-8 ml-auto mr-auto">
                          <h2 class="text-center title">@row.Title</h2>
                          <h4 class="text-center description">@row.Description</h4>
                          <form class="contact-form">
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="name" class="bmd-label-floating">Your name</label>
                                          <input type="text" class="form-control">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="email" class="bmd-label-floating">Your Email</label>
                                          <input type="email" class="form-control">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <select class="selectpicker " data-style="select-with-transition" data-size="7">
                                          <option value="1" disabled="">Speciality</option>>
                                          <option value="2">I&apos;m a Designer</option>
                                          <option value="3">I&apos;m a Developer</option>
                                          <option value="4">I&apos;m a Hero</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-4 ml-auto mr-auto text-center">
                                      <button class="btn btn-primary btn-round">
                                          Let&apos;s talk
                                      </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
