@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var row = (ImageItemRow)Model.Content;
    var settings = (ImageItemRowSettings)Model.Settings;

    if (settings.Hide) { return; }
}

                      <div class="col-md-4">
                          <img class="img-raised rounded img-fluid" alt="Raised Image" src="@row.Image.Url()">
                      </div>
