@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var row = (IntroductionRow)Model.Content;
    var settings = (IntroductionRowSettings)Model.Settings;

    if (settings.Hide) { return; }
}

              <div class="about-description text-center">
                  <div class="row">
                      <div class="col-md-8 ml-auto mr-auto">
                          <h5 class="description">@row.IntroText</h5>
                      </div>
                  </div>
              </div>
