@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../assets/img/bg9.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">About Us</h1>
          <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
        </div>
      </div>
    </div>
  </div>